@import "fonts";

body {
  font-family: CormorantUpright;
  font-size: 30px;
  // font-weight: 700;
  background-color: aqua;
  @media (min-width: 768px) {
    background-color: bisque;
  }

  .test {
    color: aqua;
  }

  section {
    width: 400px;
    height: 250px;
    font-size: 24px;
    color: aliceblue;
  }

  #testing {
    color: #000;
  }

  ul {
    display: flex;
  }

  li {
    margin-left: 55px;
  }

  h1 {
    color: red;

    @media (min-width: 768px) {
      color: green;
    }
  }
}

ul {
  display: flex;
}
